body {
 direction: rtl;
}

.panelLayout {
    display: flex;
    box-sizing: border-box;
    gap: 0;
    direction: rtl;
    flex-grow: 1;
}

/*sidebar styles starts here*/
.sidebar {
    position: fixed;
    display: flex;
    z-index: 5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    height: 100%;
}

.primarySidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    background-color: #125593;
    padding: 16px 24px;
    border-radius: 16px;
    margin: 18px 18px 18px 0
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 250px;
}

.close {
    display: none;
}

.logo {
    width: 100%
}

.groupWrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.groupItem {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: relative;
    border-radius: 12px;
    flex-grow: 1;
}

.primaryNav {
    display: flex;
    align-items: center;
    gap: 14px;
    transition: 0.3s ease-in-out;
    transition-property: background-color, box-shadow;
    border-radius: 12px;
    flex-grow: 1;
    min-height: 48px;
    padding: 4px 12px
}

.primaryNav:not(.activePrimaryNav):hover {
    background-color: #29669E;
    box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, 0.25);
}

.activePrimaryNav {
    background-color: white;
    box-shadow: 1px 1px 9px 0 rgba(0, 0, 0, 0.25)
}

.activeItems {
    color: #125593 !important;
}

.navIcon, .arrowIcon, .title {
    transition: color 0.3s ease-in-out
}

.navIcon, .arrowIcon {
    font-size: 25px;
    color: white;
}

.title {
    font-size: 15px;
    color: white;
    font-weight: 700;
    transition: color 0.3s ease-in-out
}

.arrowIcon {
    transition: transform 0.3s ease-in-out;
    margin-right: auto
}

.secondaryNav {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    gap: 18px;
    background-color: #356EA3;
    padding: 12px;
    border-radius: 12px;
    margin: 0 10px;
    max-height: 170px;
    overflow-y: scroll;
    direction: ltr
}

.activeSecondaryNav {
    display: flex;
}

.activeArrowIcon {
    transform: rotateZ(-180deg)
}

::-webkit-scrollbar {
    background: transparent;
    width: .6rem;
    height: .6rem
}

::-webkit-scrollbar-thumb {
    background: #ADB5BD;
    border-radius: 12px
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 12px
}

.secondaryGroupItem {
    transition: background-color 0.3s ease-in-out;
    padding: 4px 8px;
    border-radius: 12px
}

.secondaryGroupItem:hover {
    background-color: #5D8BB5
}

.secondaryTitle {
    font-size: 14px;
    font-weight: 600
}
/*sidebar styles ends here*/

/*header and container styles starts here*/
.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-inline-start: 316px;
}

.header {
    display: flex;
    flex-direction: column;
    margin: 0 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: #F8F8F9;
}

.headerContainer {
    display: flex;
    justify-content: flex-end;
    padding: 16px 36px;
}

.burgerButton {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 44px;
    height: 44px;
    padding: 0 !important;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.burgerButtonOne, .burgerButtonTwo, .burgerButtonThree {
    margin-block-end: 5px
}

.burgerButtonItem {
    width: 50%;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateZ(0deg);
    background-color: currentColor;
    z-index: 100;
}

.burgerButtonOne {
    transition: margin-block-start 0.2s 0.2s ease-in-out, transform 0.2s ease-in-out;
    margin-block-start: -6px
}

.burgerButtonTwo {
    transition: width 0.1s 0.2s ease-in-out
}

.burgerButtonThree {
    transition: margin-block-start 0.2s 0.2s ease-in-out, transform 0.2s ease-in-out;
    margin-block-start: 6px
}

.openBurgerButton .burgerButtonOne {
    margin-block-start: 0 !important;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: margin-block-start 0.2s ease-in-out, transform 0.2s 0.2s ease-in-out;
}

.openBurgerButton .burgerButtonTwo {
    width: 0;
    transition: width 0.1s 0.2s ease-in-out;
}

.openBurgerButton .burgerButtonThree {
    margin-block-start: 0 !important;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: margin-block-start 0.2s ease-in-out, transform 0.2s 0.2s ease-in-out;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.headerIcon {
    font-size: 24px
}

.nameWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.username {
    font-size: 20px;
    font-weight: 700
}

.userArrowIcon {
    font-size: 18px;
    transition: transform 0.2s ease-in-out
}

.openUserArrowIcon {
    transform: rotate(-180deg)
}

.menuWrapper {
    display: none;
    position: absolute;
    top: 150%;
    left: 0;
    z-index: 100;
    padding: 10px 20px;
    min-width: 100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    background: white;
}

.menuItem {
    display: flex;
    gap: 8px;
    font-size: 16px
}

.openMenuWrapper {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: unset;
    width: 100%;
    padding: 0 150px;
    margin: 75px auto 0;
    display: block;
    box-sizing: border-box;
    text-align: center;
}
/*header and container styles ends here*/

/*backdrop styles starts here*/
.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1201;
    overflow: hidden;
}

.backdropActive {
    display: flex;
    opacity: 1;
}
/*backdrop styles ends here*/

/*responsive*/
/*tablet*/
@media only screen and (max-width: 1440px) {
    .wrapper {
        margin-inline-start: 0
    }

    .container {
        padding: 0 69px
    }

    .headerContainer {
        justify-content: space-between
    }

    .burgerButton {
        display: flex;
        transition: opacity 0.5s ease-in-out
    }

    .sidebar {
        position: absolute;
        top: 0;
        bottom: 0;
        right: -350px;
        transition: right 0.3s ease-in-out
    }

    .openSidebar {
        right: 0;
        z-index: 1202
    }
}

/*mobile*/
@media only screen and (max-width: 600px) {
    .headerContainer {
        padding: 12px 16px
    }

    .container {
        padding: 0 22px
    }

    .openBurgerButton {
        opacity: 1
    }

    .username {
        font-size: 16px
    }

    .sidebar {
        width: 100%;
        right: -100%
    }

    .primarySidebar {
        margin: 0;
        border-radius: 0
    }

    .nav {
        width: 100%
    }

    .openSidebar {
        right: 0;
        left: 0
    }

    .logo {
        width: 40%;
        height: 44px;
        margin-right: auto
    }

    .close {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color: white;
        border-radius: 5px;
        cursor: pointer;
    }

    .closeIcon {
        color: #125593;
        font-size: 20px !important;
    }
}